<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>onHtmlMlde/ItSilen.github.io</title>
	<link rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico">
	<link rel="stylesheet" href="css/default.css">
</head>
<body>

	<div class="header"><h1>XiLin的个人主页</h1><br />一些效果</div>

	<div class="cont">
		<div id="left"><img src="images/user.jpg" alt=""><br /><br />
		Silen<br />
		广州<br />
		<a href="mailto:{{site.email}}">{{site.email}}</a><br />
		</div> 
		<div id="right">
			<span>目录</span><br /><br />

			<ul id="ul">
			<li>21 Jan 2017<a href="2017-01-21-dbanner.html"> 3d banner</a></li>
			<li>21 Jan 2017<a href="2017-01-21-360login-page.html"> login page</a></li>

			 </ul>
			{{content}}
		</div>
	</div>

    <ul id="bthome">
        <li><a href="#">top</a></li>
        <li><a href="#footer">bottom</a></li>
    </ul>
  

	<div id="footer">
		<p>Posted by: Silen
  			Contact information: 
  			<a href="mailto:{{site.email}}">email.</a>
	    </p>
	</div>

</body>
</html>